{% extends 'base.html' %}
{% block title %}Signup{% endblock title %}
{% block navbar_style %}navstyle-light navstyle-minimal{% endblock navbar_style %}
{% block site_style %}sitestyle-no-space{% endblock site_style %}
{% block site_css %}
<link href="{{ STATIC_URL }}css/usermanagement/signup.css" media="screen" rel="stylesheet">
{% endblock site_css %}

{% block content %}
<div class="signup-form-wrapper row m-0">
    <div class="signup-form col">
        <form id="signupForm" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-12 pb-4">
                    <h1>Welcome to Apetur!</h1>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>First name</label>
                        <input type="text" name="firstname" class="form-control" aria-describedby="emailHelp"
                            placeholder="Enter first name" required>
                    </div>
                    <div class="form-group">
                        <label>Last name</label>
                        <input type="text" name="lastname" class="form-control" aria-describedby="emailHelp"
                            placeholder="Enter last name" required>
                    </div>

                    <div class="form-group">
                        <label>Date of birth</label>

                        <div class="row">
                            <div class="col-3 pr-0">
                                <select name="month" class="form-control" required>
                                    <option value="" disabled selected hidden>MM</option>
                                    {% for i in month_range %}
                                    <option>{{ i|stringformat:"02d" }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-3 pr-0">
                                <select name="day" class="form-control" id="signupDate" required>
                                    <option value="" disabled selected hidden>DD</option>
                                    {% for i in date_range %}
                                    <option>{{ i|stringformat:"02d" }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-6">
                                <select name="year" class="form-control" required>
                                    <option value="" disabled selected hidden>YYYY</option>
                                    {% for i in year_range reversed %}
                                    <option>{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Email address</label>
                        <input type="email" name="email" class="form-control" aria-describedby="emailHelp"
                            placeholder="Enter email" required>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input id="password" type="password" name="password" class="form-control" placeholder="Password"
                            required>
                    </div>
                    <div class="form-group">
                        <label>Repeat password</label>
                        <input id="repeatPassword" type="password" name="repeatPassword" class="form-control"
                            placeholder="Repeat password" required>
                    </div>
                </div>
                <div class="col-12">
                    <div id="errorMsgCont"
                        class="alert alert-danger alert-dismissible{% if not signuperror %} d-none{% endif %}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <div id="errormsg">
                            {% if emailexists %}
                            This email is already in use
                            {% elif passnotmatch %}
                            Passwords do not match
                            {% else %}
                            Signup failed
                            {% endif %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Signup</button>
                    <a href="/login"><small class="form-text">Already have an account?</small></a>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}

{% block site_js %}
<script src="{{ STATIC_URL }}js/usermanagement/signup.js"></script>
{% endblock site_js %}