@import '_color';
@import '_grid';
@import 'site-style';

* {
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

// Navbar
.navbar {
    background-color: $gray;
    z-index: 1020;
    max-width: 1900px;
    margin: auto;

    .navbar-brand {
        letter-spacing: 15px;
        font-size: 30px;
        color: $white;
    }

    .navbar-nav {
        @media (max-width: $sm) {
            padding: 20px 0 0;
        }

        .nav-item {
            @media (max-width: $sm) {
                margin: 10px auto;
                width: 100%;
                text-align: center;
            }

            .nav-link {
                font-size: 20px;
                padding: 0 30px;
                transition: 0.25s;
            }
        }
    }

    .navbar-toggler {
        border: none;

        // hamburger btn
        .fa-bars {
            color: $white;
            font-size: 28px;
        }
    }

    #navbarNav {
        .navbar-nav {
            margin-left: auto;
        }
    }

    #logo_text {
        color: $white;
        transition: 0.25s;

        &:hover {
            text-shadow: 0 2px 10px rgba($gray, 0.5);
        }
    }

    #signup_btn {
        color: $blue;
        font-weight: bold;

        &:hover {
            color: $dark_blue;
        }
    }

    #login_btn {
        border: 2px solid $white;
        border-radius: 5px;
        color: $white;

        &:hover {
            background-color: rgba($white, 0.2);
            color: $white;
            box-shadow: 0 2px 10px rgba($gray, 0.5);
        }
    }

    .dropdown {
        @media (max-width: $sm) {
            text-align: center;
        }

        .dropdown-toggle {
            color: $white;

            @media (max-width: $sm) {
                display: block;
                padding: 5px 10px;
            }
        }

        .dropdown-menu {
            top: 37px;
            left: calc(-100% - 10px);
            background-color: transparent;
            border: none;
            border-radius: 0;
            text-align: right;

            @media (max-width: $sm) {
                margin: auto -26px;
                padding: 5px 20px;
                background-color: $light_gray;
            }

            li {
                background-color: $gray;
                border-radius: 25px;
                text-align: center;
                margin: 10px 0;

                &:hover {
                    transition: 0.25s;
                    background-color: $dark_gray;
                    box-shadow: 0 2px 10px rgba($gray, 0.5);
                }

                &.logout {
                    background-color: $red;

                    &:hover {
                        background-color: $dark_red;
                    }
                }
            }

            a {
                color: $white;
                padding: 5px 20px;
                display: block;
            }
        }
    }
}

// site background
#site-background {
    display: flex;
    flex-direction: column;
}

// site wrapper
#site-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    width: 100%;
    min-height: calc(100vh - 180px);
    margin: 40px auto;

    @media (max-width: $md) {
        margin: 20px auto;
    }
}

// footer
#footer {
    height: 75px;
    color: $white;
    background-color: $gray;
    margin: auto;

    div {
        text-align: center;
        margin: 10px 0;
        align-self: center;
    }
}