@import '_color';
@import '_grid';

* {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: $gray;

    .navbar-brand {
        letter-spacing: 15px;
        font-size: 30px;
        color: $white;
    }

    .navbar-nav {
        @media (max-width: $sm) {
            padding: 20px 0 0;
        }

        .nav-item {
            @media (max-width: $sm) {
                margin: 10px auto;
                width: 100%;
                text-align: center;
            }

            .nav-link {
                font-size: 20px;
                padding: 0 30px;
                transition: 0.25s;
            }
        }
    }

    .navbar-toggler {
        border: none;

        // hamburger btn
        .fa-bars {
            color: $white;
            font-size: 28px;
        }
    }

    #navbarNav {
        .navbar-nav {
            margin-left: auto;
        }
    }

    #logo_text {
        color: $white;
        transition: 0.25s;

        &:hover {
            text-shadow: 0 0 10px $gray;
        }
    }

    #signup_btn {
        color: $blue;
        font-weight: bold;

        &:hover {
            color: $dark_blue;
        }
    }

    #login_btn {
        border: 2px solid $white;
        border-radius: 5px;
        color: $white;

        &:hover {
            background-color: rgba($white, 0.2);
            color: $white;
            box-shadow: 0 0 5px $gray;
        }
    }
}

#footer {
    display: flex;
    height: 50px;
    color: $white;
    background-color: $gray;
    justify-content: center;

    p {
        margin: auto;
    }
}