@import '_color';
@import '_grid';

/* Generic Tag - Start
*********************************************************************/

a {
    color: $blue;

    &:hover {
        color: $dark_blue;
        text-decoration: none;
    }
}

/* Generic Tag - End
*********************************************************************/


/* Text Tag - Start
*********************************************************************/
h1 {
    font-size: 50px;
    font-weight: bold;
    color: $dark_blue;

    @media(max-width: $sm) {
        font-size: 40px;
    }
}

/* Text Tag - End
*********************************************************************/


/* Bootstrap Restyle - Start
*********************************************************************/
.btn {
    width: 100%;
    background-color: $blue;
    border: none;
    font-size: 20px;
    color: $white;
    padding: 15px 20px;
    border-radius: 30px;
    cursor: pointer;

    &:hover {
        color: $white;
        background-color: $dark_blue;
    }
}

.form-group {
    label {
        font-size: 18px;
    }

    select {
        height: 40px;
    }

    .form-control:not(select) {
        font-size: 0.8em;
        padding: 10px 15px;
        height: auto;
    }
}

/* Bootstrap Restyle - End
*********************************************************************/



/* Navbar Styling - Start
*********************************************************************/
.navbar-container {

    // light color themed navbar
    &.navstyle-light {
        background-color: $white;

        #logo_text,
        #signup_btn {
            color: $gray;
        }

        .navbar-nav {
            #user-profile-dropdown {
                .dropdown-toggle {
                    border-color: $gray;
                }

                .fa-angle-down {
                    color: $gray;
                }
            }

            #setting-dropdown {
                .dropdown-toggle {
                    color: $gray;
                }
            }
        }
    }

    // navbar stays on top of everything and on the top of the screen
    &.navstyle-fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    // navbar become fixed ONCE scrolled past the navbar
    &.navstyle-sticky {
        position: sticky;
        top: 0;
    }

    // white colored navbar with gray border on the bottom 
    &.navstyle-line {
        background-color: $white;
        border-bottom: 1px solid $gray;
    }

    // semi transparent background color
    &.navstyle-semi-transparent {
        background: transparent;

        &:not(.show-color) {
            &:hover {
                background: rgba($gray, 0.5);
            }
        }

        &.show-color {
            #login_btn {
                background-color: $white;
                color: $blue;

                &:hover {
                    background-color: rgba($white, 0.9);
                }
            }
        }
    }

    // semi transparent gradient background color
    &.navstyle-semi-transparent-gradient {
        background: linear-gradient(to bottom, $gray, rgba($white, 0));
    }

    // fully transparent background color
    &.navstyle-transparent {
        background-color: transparent;
    }

    // minimal design with ONLY the logo
    &.navstyle-minimal {

        .navbar-nav {
            display: none !important;
        }
    }

    &.navstyle-dark-logo {
        #logo_text {
            color: $gray;
        }
    }

    &.navstyle-dark-text {

        #logo_text,
        #signup_btn {
            color: $gray;
        }
    }
}

/* Navbar Styling - End
*********************************************************************/


/* Site Styling - Start
*********************************************************************/
#site-wrapper {
    &.sitestyle-no-space {
        margin: auto;
        min-height: calc(100vh - 140px);
    }
}

.site-btn-round {
    background-color: $blue;
    color: $white;
    border-radius: 25px;
    padding: 5px 30px;
    cursor: pointer;

    &:hover {
        background-color: $dark_blue;
        box-shadow: 0 2px 10px rgba($gray, 0.5);
    }
}

.text-logo {
    font-weight: bold;
    color: $white;
}

.max-width {
    max-width: $cont_width;
    width: 100%;
    padding: 20px;
    margin: auto;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Site Styling - End
*********************************************************************/