{# HTML5 declaration #}
<!DOCTYPE html>
<html>
{# Make modifiable head elements #}

<head>
    <title>{% block title %}{% endblock title %} | Apetur</title>
    {% block head_favicon %}
    {% comment %}
    <link href="{{ STATIC_URL }}images/favicon.ico" rel="icon" type="image/png"> {% endcomment %}
    {% endblock head_favicon %}
    {% block head_meta %}
    {% block head_meta_charset %}
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    {% endblock head_meta_charset %}
    {% block head_meta_contentlanguage %}
    <meta http-equiv="Content-Language" value="en-US" />
    {% endblock head_meta_contentlanguage %}
    {% block head_meta_viewport %}
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    {% endblock head_meta_viewport %}
    {% endblock head_meta %}
    {% block head_css %}
    {% block head_css_site %}
    <link href="{{ STATIC_URL }}css/lib/bootstrap-4.3.1-dist/bootstrap.min.css" media="screen" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/common/base.css" media="screen" rel="stylesheet">
    {% endblock head_css_site %}
    {% block head_css_section %}{% endblock head_css_section %}
    {% block head_css_page %}{% endblock head_css_page %}
    {% endblock head_css %}
</head>

<body>
    {# Navigation Menu #}
    <header>
        <!-- Image and text -->
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                Apetur
            </a>
        </nav>
    </header>
    {# The Document Body #}
    <div id="site-wrapper">
        {% block content %}
        if you see this, something is wrong!
        {% endblock content %}
    </div>
    {# The Footer #}
    <div class="footer">
        <div class="container">
            <p>Copyright CRM Easy</p>
        </div>
    </div>
</body>

{# Set of blocks that can be used to display JavaScript files #}
{% block footer_javascript %}
{% block footer_javascript_site %}
<script src="{{ STATIC_URL }}js/lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<script src="{{ STATIC_URL }}js/lib/bootstrap-4.3.1-dist/bootstrap.min.js"></script>
{% comment %} <script src="{{ STATIC_URL }}js/app.js"></script> {% endcomment %}
{% endblock footer_javascript_site %}
{% block footer_javascript_section %}{% endblock footer_javascript_section %}
{% block footer_javascript_page %}{% endblock footer_javascript_page %}
{% endblock footer_javascript %}

</html>