{# HTML5 declaration #}
<!DOCTYPE html>
<html>
{# Make modifiable head elements #}

<head>
    <title>{% block title %}{% endblock title %} | Apetur</title>
    {% block head_favicon %}
    {% comment %}
    <link href="{{ STATIC_URL }}images/favicon.ico" rel="icon" type="image/png"> {% endcomment %}
    {% endblock head_favicon %}
    {% block head_meta %}
    {% block head_meta_charset %}
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    {% endblock head_meta_charset %}
    {% block head_meta_contentlanguage %}
    <meta http-equiv="Content-Language" value="en-US" />
    {% endblock head_meta_contentlanguage %}
    {% block head_meta_viewport %}
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    {% endblock head_meta_viewport %}
    {% endblock head_meta %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/lib/bootstrap-4.3.1/bootstrap.css" media="screen" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/common/base.css" media="screen" rel="stylesheet">
    {% block site_css %}{% endblock site_css %}
</head>

<body>
    {# Navigation Menu #}
    <nav class="navbar navbar-expand-sm navbar-dark {% block navbar_style %}{% endblock navbar_style %}">
        <a id="logo_text" class="navbar-brand" href="/">Apetur</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        {% comment %} <div id="navbarNav" class="navbar-nav flex-row ml-sm-auto d-none d-sm-flex"> {% endcomment %}
            <div id="navbarNav" class="navbar-collapse collapse">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    {% comment %} <li class="nav-item">
                        <a id="user_notification" class="nav-link">
                            <i class="fas fa-bell icon"></i>
                            <span class="text">notifications</span>
                            <div id="notification_count">15</div>
                        </a>
                    </li> {% endcomment %}
                    <li class="dropdown">
                        <a id="user_notification" class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fas fa-bell icon"></i>
                            <span class="text">notifications</span>
                            {% if notification_count %}
                            <div id="notification_count">{{ notification_count }}</div>
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu">
                            {% if notification_count %}
                            <li>
                                <a>{{ notification_count }} messages</a>
                            </li>
                            {% else %}
                            <li>
                                <a>no notifications</a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            {{ user.get_short_name }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/profile">my profile</a>
                            </li>
                            <li>
                                <a href="/settings">settings</a>
                            </li>
                            <li class="logout">
                                <a href="/logout">logout</a>
                            </li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a id="signup_btn" class="nav-link" href="/signup">signup</a>
                    </li>
                    <li class="nav-item">
                        <a id="login_btn" class="nav-link" href="/login">login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
    </nav>

    {# The Document Body #}
    <div id="site-background" class="{% block site_style %}{% endblock site_style %}">
        <div id="site-wrapper">
            {% block content %}
            if you see this, something is wrong!
            {% endblock content %}
        </div>
    </div>

    {# The Footer #}
    <div id="footer" class="row">
        <div class="col-12">Copyright Apetur</div>
    </div>
</body>

{# Set of blocks that can be used to display JavaScript files #}
{% block footer_javascript %}
{% block footer_javascript_site %}
<script src="{{ STATIC_URL }}js/lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="{{ STATIC_URL }}js/lib/bootstrap-4.3.1-dist/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/941a2b004e.js" crossorigin="anonymous"></script>
{% block site_js %}{% endblock site_js %}
{% endblock footer_javascript_site %}
{% block footer_javascript_section %}{% endblock footer_javascript_section %}
{% block footer_javascript_page %}{% endblock footer_javascript_page %}
{% endblock footer_javascript %}

</html>