{# HTML5 declaration #}
<!DOCTYPE html>
<html>
{# Make modifiable head elements #}

<head>
    <title>{% block title %}{% endblock title %} | Apetur</title>
    {% block head_favicon %}
    <link href="{{ STATIC_URL }}files/site/favicon_blue.png" rel="icon" type="image/png">
    {% endblock head_favicon %}
    {% block head_meta %}
    {% block head_meta_charset %}
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    {% endblock head_meta_charset %}
    {% block head_meta_contentlanguage %}
    <meta http-equiv="Content-Language" value="en-US" />
    {% endblock head_meta_contentlanguage %}
    {% block head_meta_viewport %}
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    {% endblock head_meta_viewport %}
    {% endblock head_meta %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/lib/bootstrap-4.3.1/bootstrap.css" media="screen" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/common/base.css" media="screen" rel="stylesheet">
    {% block site_css %}{% endblock site_css %}
</head>

<body>
    {# Navigation Menu #}
    <div class="navbar-container {% block navbar_style %}{% endblock navbar_style %}">
        <nav class="navbar navbar-expand-sm navbar-dark">
            <a id="logo_text" class="text-logo navbar-brand" href="/">Apetur.</a>
            <ul class="navbar-nav ml-auto">
                {% comment %} Search {% endcomment %}
                <li class="nav-search-cont nav-item" tabindex="10">
                    <a class="nav-search-btn nav-link">
                        <i class="fas fa-search"></i>
                    </a>
                    <input type="text" id="googleMapAutocompleteTextField" class="nav-search-text-field form-control">
                    <input type="hiddent" id="radius" class="d-none" value="25" />
                </li>

                {% comment %} USER PROFILE {% endcomment %}
                {% if user.is_authenticated %}
                <li class="user-profile-cont dropdown">
                    <div class="user-profile-dropdown" data-toggle="dropdown">
                        <div class="dropdown-toggle{% if NOTIFICATION_COUNT %} have-alert{% endif %}">
                            {% if user.client.profile_pic %}
                            <img class="user-profile-pic" src="{{ USER_FILE_URL }}{{ user.client.profile_pic }}" />
                            {% else %}
                            <span class="user-profile-text">{{ user.get_short_name|make_list|first }}</span>
                            {% endif %}
                        </div>
                        {% if NOTIFICATION_COUNT %}
                        <div class="notification-badge">
                            {{ NOTIFICATION_COUNT }}
                        </div>
                        {% endif %}
                        <i class="fas fa-angle-down"></i>
                    </div>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/profile">my profile</a>
                        </li>
                        <li>
                            <a href="#">setting</a>
                        </li>
                        <li class="notification">
                            <a href="/notification">notification</a>
                            {% if NOTIFICATION_COUNT %}
                            <div class="notification-badge">
                                {{ NOTIFICATION_COUNT }}
                            </div>
                            {% endif %}
                        </li>
                        <li>
                            <a href="#">analytics</a>
                        </li>
                        <li>
                            <a href="#">help</a>
                        </li>
                        <li class="dropdown-hr"></li>
                        <li class="logout">
                            <a href="/logout">logout</a>
                        </li>
                    </ul>
                </li>
                {% else %}
                {% comment %} SIGNUP {% endcomment %}
                <li class="nav-item">
                    <a id="signup_btn" class="nav-link" href="/signup">signup</a>
                </li>

                {% comment %} LOGIN {% endcomment %}
                <li class="nav-item">
                    <a id="login_btn" class="site-btn-round nav-link" href="/login">login</a>
                </li>
                {% endif %}

                {% comment %} SETTING {% endcomment %}
                <li id="settingDropdownCont" class="dropdown">
                    <div class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-bars"></i>
                        <i class="fas fa-times"></i>
                    </div>
                    <ul class="dropdown-menu slide">
                        {% comment %} seasrch - mobile {% endcomment %}
                        <li class="nav-search-cont nav-item" tabindex="10">
                            <a class="nav-search-btn nav-link">
                                <i class="fas fa-search"></i>
                            </a>
                            <input type="text" id="googleMapAutocompleteTextField2"
                                class="nav-search-text-field form-control">
                            <input type="hiddent" id="radius2" class="d-none" value="25" />
                        </li>
                        <li id="googleMapAutocompletePacContainer">
                        </li>
                        {% comment %} user profile - mobile {% endcomment %}
                        {% if user.is_authenticated %}
                        <li class="user-profile-cont dropdown">
                            <div class="user-profile-dropdown" data-toggle="dropdown">
                                <div class="dropdown-toggle{% if NOTIFICATION_COUNT %} have-alert{% endif %}">
                                    {% if user.client.profile_pic %}
                                    <img class="user-profile-pic"
                                        src="{{ USER_FILE_URL }}{{ user.client.profile_pic }}" />
                                    {% else %}
                                    <span class="user-profile-text">{{ user.get_short_name|make_list|first }}</span>
                                    {% endif %}
                                </div>
                                {% if NOTIFICATION_COUNT %}
                                <div class="notification-badge">
                                    {{ NOTIFICATION_COUNT }}
                                </div>
                                {% endif %}
                                <div class="dropdown-user-name">
                                    {{ user.get_short_name }}
                                </div>
                                <i class="fas fa-angle-down"></i>
                            </div>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/profile">my profile</a>
                                </li>
                                <li>
                                    <a href="#">setting</a>
                                </li>
                                <li class="notification">
                                    <a href="/notification">notification</a>
                                    {% if NOTIFICATION_COUNT %}
                                    <div class="notification-badge">
                                        {{ NOTIFICATION_COUNT }}
                                    </div>
                                    {% endif %}
                                </li>
                                <li>
                                    <a href="#">analytics</a>
                                </li>
                                <li>
                                    <a href="#">help</a>
                                </li>
                                <li class="dropdown-hr"></li>
                                <li class="logout">
                                    <a href="/logout">logout</a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                        <li>
                            <a href="/">home</a>
                        </li>
                        <li>
                            <a href="#">about us</a>
                        </li>
                        <li>
                            <a href="#">services</a>
                        </li>
                        <li>
                            <a href="#">contact us</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    {# The Document Body #}
    <div id="site-background" class="{% block site_style %}{% endblock site_style %}">
        <div id="site-wrapper">
            {% block content %}
            if you see this, something is wrong!
            {% endblock content %}
        </div>
    </div>

    {# The Footer #}
    <div id="footer" class="row no-gutters m-5">
        <div class="col-12 col-lg-7">
            <div class="row">
                <a class="col-12 col-md-2 p-1" href="/">
                    Home
                </a>
                <a class="col-12 col-md-2 p-1" href="#">
                    About
                </a>
                <a class="col-12 col-md-2 p-1" href="#">
                    Our Works
                </a>
                <a class="col-12 col-md-2 p-1" href="#">
                    Services
                </a>
                <a class="col-12 col-md-2 p-1" href="#">
                    Blog
                </a>
                <a class="col-12 col-md-2 p-1" href="#">
                    Contacts
                </a>
            </div>
        </div>
        <div class="col-md-12 col-lg-5">
            <div class="row justify-content-center justify-content-lg-end">
                <a class="col-8">
                    <div class="row">
                        <div class="text-logo col-12">
                            Apetur.
                        </div class="col-12">
                        <small class="col-12">
                            Copyright &copy; 2019 Apetur.com
                        </small class="col-12">
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>

{# Set of blocks that can be used to display JavaScript files #}
{% block footer_javascript %}
{% block footer_javascript_site %}
<script src="{{ STATIC_URL }}js/lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="{{ STATIC_URL }}js/lib/bootstrap-4.3.1-dist/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/941a2b004e.js" crossorigin="anonymous"></script>
{% block google_map_api_js %}{% endblock google_map_api_js %}
<script
    src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&libraries=places{% block google_map_api_callback %}{% endblock google_map_api_callback %}">
</script>
<script src="{{ STATIC_URL }}js/autocomplete_search.js"></script>
<script src="{{ STATIC_URL }}js/common/base.js"></script>
{% block site_js %}{% endblock site_js %}
{% endblock footer_javascript_site %}
{% block footer_javascript_section %}{% endblock footer_javascript_section %}
{% block footer_javascript_page %}{% endblock footer_javascript_page %}
{% endblock footer_javascript %}

</html>