{% extends 'base.html' %}
{% block title %}Browse{% endblock title %}
{% block site_css %}
<link href="{{ STATIC_URL }}css/browse.css" media="screen" rel="stylesheet">
{% endblock site_css %}
{% block navbar_style %}navstyle-sticky{% endblock navbar_style %}

{% block content%}
<div id="searchBar" class="input-group">
    <input type="text" id="googleMapAutocompleteTextField" class="form-control">
    <select id="radius" class="form-control">
        <option value=25>25 mi</option>
        <option value=50>50 mi</option>
        <option value=75>75 mi</option>
    </select>
</div>

<div id="searchResultCont">
    <div id="browsePhotographers">
        {% for p in photographers %}
        <div class="browse-photographer-cont mb-4">
            <div class="profile-banner">
                <img src="{{ USER_FILE_URL }}0/featured-photo.jpg" />
            </div>
            <div class="profile-brief-detail-cont">
                <div class="profile-brief-pic-cont">
                    <div class="profile-brief-pic">
                        <img src="{{ USER_FILE_URL }}0/temp-profile-pic.jpg" />
                    </div>
                </div>
                <div class="profile-brief-detail row no-gutters">
                    <div class="profile-photographer-name">{{p.get_full_name}}</div>
                    {% if p.get_bio is not None %}
                    <div class="profile-photographer-bio">{{p.get_bio}}</div>
                    {% endif %}
                </div>
                <div class="profile-breif-detail-toggle">
                    <i class="fas fa-angle-down"></i>
                </div>
            </div>
            <div class="profile-brief-more-detail-cont">
                <div class="profile-breif-photoshot-type-cont row">
                    <div class="col-12">Photoshot Types:</div>
                    <div class="photoshot-type-tag-cont col-12 mt-2">
                        {% for tag in p.get_tags %}
                        <span class="photoshot-type-tag">{{tag}}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="profile-breif-detail-actions row no-gutters">
                    <div class="btn col-5" >follow</div>
                    <div class="btn col-5" onClick = "redirect_to_profile({{p.client.user.id}})">learn more</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="mapCont">
        <div id="map"></div>
    </div>
    <div id="contentTypeToggle">
        <i class="fas fa-map-marked-alt"></i>
        <i class="fas fa-user"></i>
    </div>
</div>
{% endblock content%}
{% block google_map_api_js %}
<script>
    // These variables are used in to map.js and js/autocomplete_search.js
    
    // Store the latitude and longtitue of the city that was returned from the search
    // This allows for centering of map around the city.
    var city_lat = parseFloat("{{lat}}");
    var city_lng = parseFloat("{{lng}}");

    // Grab the json data to create markers
    var json_data = JSON.parse("{{json_data|escapejs}}");
</script>
<script src="{{ STATIC_URL }}js/map.js"></script>
{% endblock google_map_api_js %}
{% block google_map_api_callback %}&callback=initMap{% endblock google_map_api_callback %}
{% block site_js %}
<script src="{{ STATIC_URL }}js/browse.js"></script>
{% endblock site_js %}