{% extends 'base.html' %}
{% block title %}Browse{% endblock title %}

{% block content%}
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Chico, CA" aria-label="" aria-describedby="basic-addon1">
        <div class="input-group-append">
        <button class="btn btn-success" type="button">Search</button>
        </div>
    </div>
    {% for p in photographers %}
        {% if p.client.getCity == 'Chico'%}
            <div clas = "container" id = "card-test">
                <div class="card text-black {% cycle 'bg-light'} " style="max-width: 40rem;" >
                    <div class="card-header"> {{p.client.getLocation}}</div>
                        <div class="card-body">
                            <h4 class="card-title">{{p.client.getFullName}}</h4>
                            <h6 class="card-subtitle mb-2 text-muted">{{p.client.getEmail}}</h6>
                            <span class="badge badge-primary">Weddings</span>
                            <span class="badge badge-primary">Birthdays</span>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock content%}