{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block navbar_style %}navstyle-fixed navstyle-semi-transparent{% endblock navbar_style %}
{% block site_css %}
<link href="{{ STATIC_URL }}css/home.css" media="screen" rel="stylesheet">
<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        min-height: 500px;
        height: 100%;
    }
</style>
{% endblock site_css %}

{% block content %}
<div id="featured">
    <div class="featured-item">
        <img src="{{ USER_FILE_URL }}0/featured-photo-reduced.jpg" />
        <a class="user-detail" href="#">
            <div class="featured-user-pic">
                <img src="{{ USER_FILE_URL }}0/temp-profile-pic-reduced.jpg" />
            </div>
            <div class="featured-user-name">
                BobJoe
            </div>
        </a>
    </div>
</div>

<div id="map">
</div>
{% endblock content %}

{% block site_js %}
<script src="{{ STATIC_URL }}js/home.js"></script>
<script>
    var map;

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {
                lat: -34.397,
                lng: 150.644
            },
            zoom: 8
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&callback=initMap" async defer></script>
{% endblock site_js %}