{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block navbar_style %}navstyle-fixed navstyle-semi-transparent{% endblock navbar_style %}
{% block site_css %}
<link href="{{ STATIC_URL }}css/home.css" media="screen" rel="stylesheet">
<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        min-height: 500px;
        height: 100%;
    }
</style>
{% endblock site_css %}

{% block content %}
<div id="featured">
    {% comment %} Currently featured {% endcomment %}
    <div id="featuringItem">
        <img class="featuring-image" src="{{ featured_images|first }}" />
        <a class="user-detail" href="#">
            <div class="featured-user-pic">
                <img src="{{ USER_FILE_URL }}0/temp-profile-pic-reduced.jpg" />
            </div>
            <div class="featured-user-name">
                BobJoe
            </div>
        </a>
    </div>

    {% comment %} Queue control {% endcomment %}
    <div id="featureControl">
        <div class="progress blue feature-control-button feature-control-next" onclick="featureRotation('next')">
            <span class="progress-left progress-end">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right progress-start">
                <span class="progress-bar"></span>
            </span>
            <i class="fas fa-angle-right"></i>
        </div>

        <div class="feature-control-selector">
            {% for image_url in featured_images %}
            <div class="feature-control-circle {% if forloop.first %} current-circle-control{% endif %}"
                data-image-url="{{ image_url }}"></div>
            {% endfor %}
        </div>

        <div class="progress no-loading blue feature-control-button feature-control-previous"
            onclick="featureRotation('previous')">
            <span class="progress-left">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar"></span>
            </span>
            <i class="fas fa-angle-left"></i>
        </div>

        {% comment %} <div class="feature-control-button feature-control-previous"
            onclick="featureRotation('previous')">
            <i class="fas fa-angle-left"></i>
        </div> {% endcomment %}
    </div>

    {% comment %} Featured item queue {% endcomment %}
    <div id="featuredQueue">
        {% for image_url in featured_images %}
        <div id="" class="featured-queue-item{% if forloop.first %} current-feature{% endif %}"
            style="order: {{forloop.counter}}">
            <img src="{{ image_url }}" data-image-url="{{ image_url }}" />
        </div>
        {% endfor %}
    </div>
</div>

{% comment %} Profile {% endcomment %}
<div class="row no-gutters">
    <div class="col-sm-12 col-md-6">
    </div>
    <div class="col-sm-12 col-md-6">
        <h1>Profile</h1>
        <p>

        </p>
    </div>
</div>

{% endblock content %}

{% block site_js %}
<script src="{{ STATIC_URL }}js/home.js"></script>
{% endblock site_js %}