@import 'common/_color.scss';
@import 'common/grid';

#siteWrapper {
    position: relative;
    max-width: none;
    margin: auto;
    padding: 0;

    &>div {
        margin-bottom: 100px;
    }
}

#featured {
    display: flex;
    overflow: hidden;
    justify-content: center;
    height: 100vh;
    position: relative;
}

#featuringItem {
    width: 100%;
    height: 90%;
    position: relative;

    .user-detail {
        position: absolute;
        bottom: 15px;
        left: 15px;
        display: flex;
        text-decoration: none;

        &:hover {

            .featured-user-pic {
                transition: 0.25s;
                background: $white;
            }
        }

        .featured-user-pic {
            display: flex;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid $white;
            padding: 3px;

            img {
                border-radius: 50%;
            }
        }

        .featured-user-name {
            color: $white;
            margin: auto 15px;
        }
    }
}

#featureControl {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);

    .feature-control-button {
        color: $gray;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 48px;
        font-size: 25px;
        cursor: pointer;

        &:hover {
            transition: 0.25s;
            color: $blue;
        }

        .fas {
            margin: auto;
            line-height: 48px;
            font-size: 25px;
        }
    }

    .feature-control-selector {
        .feature-control-circle {
            background: rgba($gray, 0.5);
            border-radius: 50%;
            height: 10px;
            width: 10px;
            margin: 20px;
            cursor: pointer;

            &:hover {
                transition: 0.25s;
                background-color: $blue;
            }

            &.current-circle-control {
                background-color: $blue;
            }
        }
    }
}

#featuredQueue {
    height: 150px;
    width: 40%;
    position: absolute;
    bottom: 20px;
    right: 0;
    display: flex;
    overflow: hidden;

    @media (max-width: $sm) {
        height: 100px;
    }

    .featured-queue-item {
        display: inline-flex;
        justify-content: space-between;
        margin: 0 10px;
        height: 100%;
        position: relative;

        &.current-feature {
            display: none;
        }

        &::after {
            content: "";
            height: 100%;
            width: 100%;
            background-color: rgba($black, 0.2);
            position: absolute;
        }

        img {
            height: 100%;
            width: auto;
        }
    }
}

/**********************************************************
* Progress Bar
**********************************************************/
.progress {
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;

    &:hover {
        background: rgba($gray, 0.5);
    }

    &.no-loading:hover {
        &:after {
            border-color: $blue;
        }
    }
}

.progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid $gray;
    position: absolute;
    top: 0;
    left: 0;
}

.progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress .progress-left {
    left: 0;
}

.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 3px;
    border-style: solid;
    position: absolute;
    top: 0;
    border-color: $blue;
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.progress .progress-right {
    right: 0;
}

.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}

.progress:not(.no-loading) {
    &.pause-animation {

        .progress-left .progress-bar,
        .progress-right .progress-bar {
            -webkit-animation-play-state: paused;
            -moz-animation-play-state: paused;
            -o-animation-play-state: paused;
            animation-play-state: paused;
        }
    }

    .progress-left .progress-bar {
        animation: loading 2.5s linear forwards 2.5s;
    }

    .progress-right .progress-bar {
        animation: loading 2.5s linear forwards;
    }
}

@keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@media only screen and (max-width: 990px) {
    .progress {
        margin-bottom: 20px;
    }
}

#featureOverview {
    text-align: center;

    @media (max-width: $md) {
        .row .col-12:after {
            display: none;
        }
    }

    h2 {
        font-weight: bold;
    }

    h5 {
        font-size: 18px;
        text-transform: capitalize;

        .fas,
        .far {
            color: $blue;
            padding-right: 10px;
        }
    }

    a {
        font-size: 12px;
    }

    .feature-detail {
        color: $gray;
        font-size: 12px;
        max-width: 500px;
        margin: auto;
    }

    .feature-overview-logo-cont {
        @media (min-width: $md) {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .feature-overview-logo {
        width: 50px;
        height: auto;
        margin: auto;
    }

    .feature-overview-profile {
        &:after {
            content: "";
            width: 75px;
            border-bottom: 1px solid $light_gray;
            position: absolute;
            right: -30%;
            bottom: 10%;
            transform: rotate(30deg);
        }
    }

    .feature-overview-crm {
        &:after {
            content: "";
            width: 75px;
            border-bottom: 1px solid $light_gray;
            position: absolute;
            left: -30%;
            bottom: 10%;
            transform: rotate(150deg);
        }
    }

    .feature-overview-photo {
        &:after {
            content: "";
            width: 75px;
            border-bottom: 1px solid $light_gray;
            position: absolute;
            right: -30%;
            top: 10%;
            transform: rotate(-30deg);
        }
    }

    .feature-overview-geolocation {
        &:after {
            content: "";
            width: 75px;
            border-bottom: 1px solid $light_gray;
            position: absolute;
            left: -30%;
            top: 10%;
            transform: rotate(30deg);
        }
    }
}

#profile,
#crm,
#photos,
#geolocation {
    h1 {
        text-align: center;
    }
}

#crmVisual,
#geolocationVisual {
    @media (max-width: $md) {
        order: 1;
    }
}

#profileDetail,
#crmDetail,
#photosDetail,
#geolocationDetail {
    @media (min-width: $md) {
        font-size: 20px;
    }
}

#crmDetail,
#geolocationDetail {
    @media (max-width: $md) {
        order: 2;
    }
}

.feature-detail-get-started {
    font-size: 12px;
    padding: 5px 15px;
    margin: 10px auto;
    width: auto;
}

#joinCommunity {
    background-color: $blue;
    color: $white;

    .btn {
        padding: 10px;
        margin: 5px auto;
        background-color: $white;
        color: $blue;

        @media (min-width: $sm) {
            max-width: 250px;
        }
    }
}

#connect {
    justify-content: space-between;

    #connectAboutUs {
        .connect-about-us-detail {
            font-size: 12px;
            color: $gray;
        }

        .connect-contacts {
            .fas {
                color: $blue;
                padding-right: 10px;
            }

            .connect-contact-info {
                font-size: 15px;
            }
        }

        .connect-newsletter {
            &:focus-within {
                input[type="text"] {
                    border-color: $gray;
                    color: $gray;
                    transition: 0.25s;
                }
            }

            input[type="text"] {
                width: 100%;
                border-radius: 50px;
                border: 1px solid $light_gray;
                padding: 15px 120px 15px 30px;
                color: $light_gray;

                @media (max-width: $md) {
                    padding: 10px 100px 10px 20px;
                    font-size: 12px;
                }
            }

            input[type="submit"] {
                background: $blue;
                border-radius: 25px;
                position: absolute;
                color: white;
                padding: 10px 20px;
                right: 5px;
                top: 50%;
                transform: translateY(-50%);
                font-weight: bold;
                cursor: pointer;
                transition: 0.25s;

                &:hover {
                    background: $dark_blue;
                }

                @media (max-width: $md) {
                    font-size: 12px;
                    padding: 7px 10px;
                    right: 3px;
                }
            }
        }
    }

    #connectTweet {
        ul {
            list-style: none;
            padding-left: 30px;
            margin-bottom: 0;
        }

        li {
            position: relative;
        }

        .fa-twitter {
            position: absolute;
            left: -30px;
            top: 5px;
            color: $gray;
        }

        .connect-tweet {
            font-size: 12px;
            color: $gray;
        }
    }

    #connectInstagram {
        .row {
            @media (min-width: $md) and (max-width: $lg) {
                max-height: 300px;
                overflow-y: scroll;
            }
        }

        .connect-instagram-image-cont {
            padding-top: 50%;

            @media (min-width: $md) and (max-width: $lg) {
                padding-top: 100%;
            }
        }

        .connect-instagram-image {
            position: absolute;
            top: 0;
            left: 0;
            padding: 5px;
        }
    }
}