@import 'common/_color.scss';
@import 'common/grid';

#siteWrapper {
    position: relative;
    max-width: 100vw;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

.profile-backsplash {
    cursor: pointer;
    transition: 0.3s;
}

.profile-backsplash:hover {
    opacity: 0.9;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0.1)
    }

    to {
        transform: scale(1)
    }
}

.profile-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 20px 50px;

    @media (max-width: $md) {
        padding: 15px;
    }
}

.profile-btn {
    color: $white !important;
    margin: 5px;
    font-size: 15px;
    padding: 10px 20px;

    @media (max-width: $sm) {
        margin: 5px 0;
    }
}

h1 {
    color: gray;
    text-align: left;
}

h2 {
    font-size: 30px;
}

h3 {
    transform: translate(2%, 35%);
    color: gray;
    text-align: justify;
    font-size: 25px;
}

#site-wrapper {
    position: relative;
    max-height: none;
    margin: auto;
}

.profile-backsplash-container {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .2);

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .fas {
        color: $gray;
        opacity: 35%;
        line-height: 600px;
    }

    .fa-camera {
        font-size: 100px;
    }

    .fa-plus {
        font-size: 50px;
        line-height: 640px;
    }
}

.user-display {
    width: 100%;
    text-align: center;
    display: inline-block;
    position: relative;

    &>.row {
        @media (max-width: $md) {
            width: 100%;
            padding-top: 25px;
            margin: auto;
        }
    }

    .profile-picture-outer-border {
        position: relative;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        left: 20px;
        top: -50px;
        background-color: white;
        float: left;
        padding: 10px;

        @media (max-width: $md) {
            width: 100px;
            height: 100px;
            position: absolute;
            padding: 5px;
        }

        .profile-picture-inner-border {
            width: 100%;
            height: 100%;
            background-color: white;
            border-radius: 50%;
            background-clip: padding-box;
            border: 1px solid rgba(0, 0, 0, .1);
            text-align: center;

            display: block;


            img {
                width: 100%;
                margin: auto;
                display: block;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }

            .profile-character-circle {
                object-fit: cover;
                position: relative;
                top: 20px;
                background-color: $white;
                border-radius: 50%;
                color: $blue;
                font-weight: bold;
                font-size: 100px;
                display: inline-block;
            }
        }
    }

    .user_quote {
        font-size: 12px;
        color: $gray;
        margin-top: 10px;
    }
}

#profileNavCont {
    padding: 0 20px;
}

#profileNav {
    max-width: 500px;
    width: 100%;
    margin: 25px auto 0;
    position: relative;

    .col-4 {
        padding: 5px 20px;
        cursor: pointer;
        transition: 0.25s;
    }

    #profileNavUnerline {
        width: 33%;
        position: absolute;
        bottom: 0;
        left: 91px;
        border-bottom: 1px solid $gray;
        transition: 0.25s;
    }
}

#profileSectionsCont {
    display: flex;
    justify-content: space-between;
    margin: 25px auto;
    width: calc(300vw + 50px);
    overflow: hidden;
    position: relative;
    left: calc(-100vw - 8px);
    transition: 0.25s;

    .profile-sections {
        width: 100vw;
        display: inline-block;
    }

    #profileGallery {
        padding: 5px;
    }

    .profile-gallery-image {
        padding: 5px;
        cursor: pointer;
        overflow: hidden;
        transition: 0.25s;

        &:hover {
            transform: scale(1.025);
        }

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: center;
        }
    }
}

#profileReview {
    .user-review {
        width: 100%;
        height: auto;
        margin: 5px auto;
        border-bottom: 1px solid $light_gray;
        padding: 10px 0;
    }

    .review-profile-pic {
        padding: 10px;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
        }
    }

    .review-profile-user-detail {
        text-align: left;
        margin: auto;
        padding: 10px;

        &>div {
            display: inline-block;
        }

        .review-name {
            font-size: 20px;
            font-weight: bold;
            color: $blue;
        }

        .review-rating {
            font-size: 15px;
            color: $gray;
            margin: 0 10px;
        }
    }

    .review-comment {
        text-align: left;
        margin: auto;
        padding: 10px;
    }
}

/*
 * Modal
 ********************************************/
.modal {
    display: none;
    position: fixed;
    z-index: 1030;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    background-color: transparent;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.25s;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: $gray;
    font-size: 40px;
    font-weight: bold;
    transition: 0.25s;
    z-index: 1;
    text-shadow: none;
}

.close:hover,
.close:focus {
    color: $dark_gray;
    text-decoration: none;
    cursor: pointer;
}