@import 'common/_color.scss';
@import 'common/grid';

.full-availability,
.partial-availability {
    cursor: pointer;
}

.full-availability {
    background-color: $green;

    &:hover {
        $background-color: $dark_green;
    }
}

.partial-availability {
    background-color: $yellow;

    &:hover {
        $background-color: $dark_yellow;
    }
}

.fully-booked {
    background-color: $red;
}

.full-availability td:hover {
    cursor: pointer;
}

/* Pop up modal (event scheduler) CSS*/
/* Background */
#schedule-event-form-container {
    z-index: 200;

    h1 {
        color: $blue;
    }

    .modal-content {
        max-width: 600px;
        height: auto;
        padding: 20px;
        top: 70px;
        background-color: $white;
        border: none;
        animation: none;

        .close {
            color: $red;

            &:hover {
                color: $dark_red;
            }
        }
    }

    button[type="submit"] {
        padding: 10px;
    }
}

/***********************************************
 * Styling Overwrite
 **********************************************/
.fc-toolbar {
    flex-flow: wrap;

    // @media (max-width: $md) {
    //     flex-direction: column;
    // }

    .fc-center {
        margin: 10px 0;
    }

    .fc-left {
        @media (max-width: $md) {
            width: 100%;
        }
    }

    .fc-center,
    .fc-right {
        @media (max-width: $sm) {
            font-size: 12px;

            .fc-button .fc-icon {
                font-size: 1em;
            }
        }
    }
}

.fc-button-primary {
    border: none !important;
    background-color: $blue !important;
    transition: 0.25s;

    &:focus {
        box-shadow: none !important;
    }

    &:hover:enabled {
        background-color: $dark_blue !important;
    }

    &.fc-button-active {
        background-color: $dark_blue !important;
    }
}

.fc-widget-header {
    @media(max-width: $sm) {
        font-size: 0.9em;
    }
}

.fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
    margin-right: 5px;
}

.fc-scroller {
    overflow: auto !important;
    height: auto !important;
}

.fc-dayGrid-view .fc-body .fc-row {
    min-height: 3em !important;
}

.fc-today {
    color: $blue !important;
}