@import 'common/_color.scss';
@import 'common/grid';

.full-availability {
    background-color: $green;

}

.partial-availability {
    background-color: $yellow;
}

.fully-booked {
    background-color: $red;
}

.full-availability td:hover {
    cursor: pointer;
}

/* Pop up modal (event scheduler) CSS*/
/* Background */
.modal {
    display: hidden;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Inner content */
.modal-content {
    background-color: #fefefe;
    margin: 10vh auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}


/***********************************************
 * Styling Overwrite
 **********************************************/
.fc-toolbar {
    flex-flow: wrap;

    // @media (max-width: $md) {
    //     flex-direction: column;
    // }

    .fc-center {
        margin: 10px 0;
    }

    .fc-left {
        @media (max-width: $md) {
            width: 100%;
        }
    }

    .fc-center,
    .fc-right {
        @media (max-width: $sm) {
            font-size: 12px;

            .fc-button .fc-icon {
                font-size: 1em;
            }
        }
    }
}

.fc-button-primary {
    border: none !important;
    background-color: $blue !important;

    &:focus {
        box-shadow: none !important;
    }

    &.fc-button-active {
        background-color: $dark_blue !important;
    }
}

.fc-widget-header {
    @media(max-width: $sm) {
        font-size: 0.9em;
    }
}

.fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
    margin-right: 5px;
}

.fc-scroller {
    overflow: auto !important;
    height: auto !important;
}

.fc-dayGrid-view .fc-body .fc-row {
    min-height: 3em !important;
}

.fc-today {
    color: $blue !important;
}