@import '../common/color';
@import '../common/url';
@import '../common/grid';

#site-background {
    background-image: url($site_img+'usermanagement/login/login-background-reduced.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-form-wrapper {
    flex: 1;
}

.login-form {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
    padding: 40px;
    max-width: 450px;

    @media (max-width: $md) {
        padding: 10px;
    }

    form {
        background-color: white;
        padding: 50px 20px;
        box-shadow: 0 5px 15px rgba($gray, 0.7);
    }
}